.hd {
    background: url(./img/header_bg.png) no-repeat;
    display: flex;
    padding: 0.24rem 0.08rem;
}
.hd_cut {
    position: relative;
    width: 1.98rem;
    height: 0.44rem;
    line-height: 0.44rem;
    display: flex;
    font-size: 0.24rem;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 0.12rem;
}
.hd_cut a {
    width: 50%;
    height: 0.44rem;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.4);
}
.hd_cut a:first-child::after {
    position: absolute;
    left: 50%;
    top: 0.13rem;
    content: "";
    display: block;
    width: 1px;
    height: 0.18rem;
    background: #6bb0e7;
    background: hsla(0, 0%, 100%, 0.3);
}
.hd_cut .active {
    color: #ffffff;
}
.hd_logo {
    width: 2.04rem;
    height: 0.56rem;
    margin: 0.04rem 0.11rem 0.32rem 0.2rem;
}
.hd_logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.hd_set a {
    color: #ffffff;
    margin-left: 0.33rem;
}
.hd_set {
    font-size: 0.36rem;
    margin: 0.08rem 0.2rem 0 0;
}

.hd {
    display: flex;
    justify-content: space-between;
}
